<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ai_gallery.ai_gallery_app">

    <application
        android:label="ai_gallery_app"
        android:name="${applicationName}">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <!-- IMPORTANT: REMOVE theme references -->
            <!-- No LaunchTheme -->
            <!-- No NormalTheme -->

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

    </application>

</manifest>